/node_modules/
/jspm_packages/
/styles/
/app/
/coverage/
/distribute/
/dist/
/publish/
/.idea/
.idea/build-utilities.iml
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/*.*
service-worker.js
chromedriver.*
