<template>
    <div class="assist-toolbar">
        <div class="assist-logo">
            <slot name="logo"></slot>
        </div>
        <button><icon name="settings"></icon></button>
        <button><icon name="close" click.delegate="close()"></icon></button>
    </div>

    <div class="assist-search">
        <input type="text" value.bind="searchString" placeholder="how can i help?" />
        <button><icon name="microphone"></icon></button>
        <button><icon name="dropdown"></icon></button>
    </div>

    <hr />

    <div class="default-padding-left default-padding-right">
        <div id="assistantContainer" ref="assistantContainer"></div>
        <slot name="content"></slot>
    </div>
</template>
