<template>
    <pragma-options-toolbar dropdown-items.bind="toolbarItems">
        <div slot="items">
            <button>Item 1</button>
            <button>Item 2</button>
        </div>
    </pragma-options-toolbar>

    <div class="group">
        <h3>Input Tests</h3>
        <input-composite id="code" label="Code" required.bind="true">
            <input type="text" required/>
        </input-composite>

        <input-composite label="Notes" required.bind="false" descriptor="Please fill in some stuff">
            <textarea></textarea>
        </input-composite>

        <input-composite label="Some Label" required.bind="false">
            <div>Hello World</div>
        </input-composite>

        <button click.delegate="showErrors()">Show Errors</button>

        <pragma-dropdown-menu title="Options" icon-name="options" class="left" items.bind="testMenuItems"></pragma-dropdown-menu>
    </div>

    <pragma-messages></pragma-messages>
</template>