
<template>
    <div>
        <pragma-options-toolbar dropdown-items.bind="mainOptions" selected-id.two-way="mainOptionsId">
            <div slot="items" class="container horizontal">
                <button click.delegate="back()" class="button"><icon name="back" class="icon-button"></icon></button>

                <span class="suppressed default-padding-right">GROUPED BY</span>

                <pragma-dropdown-menu
                        title.bind="drilldownId ? drilldownId : 'None'"
                        aria-disabled.bind="!drilldownId"
                        icon-name="dropdown"
                        selected-id.two-way="drilldownId"
                        class="left"
                        items.bind="drilldownItems"
                        id="dropdownMenu">
                </pragma-dropdown-menu>
            </div>
        </pragma-options-toolbar>

        <percentage-chart
                id="percentage-chart"
                if.bind="groupedItems.length > 0"
                cache-id.bind="cacheId"
                perspective-id.bind="perspectiveId"
                grouped-items.bind="groupedItems"
                drilldown-id.two-way="drilldownId"
                drilldown-items.two-way="drilldownItems"></percentage-chart>

        <ul selectable="selected-id.two-way: selectedId" id="master-list">
            <li class.bind="item.isGroup ? 'grid-group' : 'card li-styling'" repeat.for="item of visibleItems" data-id="${item.id}">
                <pragma-template html.bind="item.isGroup ? groupTemplate : listTemplate" data-item.bind="item"></pragma-template>
            </li>
        </ul>
    </div>

    <div if.bind="showGroupings" class="master-grouping">
        <div class="toolbar-no-padding">
            <span class="stretch default-padding-left">Group drill down order</span>

            <label class="square-icon-label">
                <icon name="close"></icon>
                <input type="checkbox" checked.bind="showGroupings" class="hidden"/></input>
            </label>
        </div>

        <order-group items.two-way="groupingItems" if.bind="showGroupings"></order-group>
    </div>
</template>
