<template>
    <label>
        <span class="header">
            <span>${title}</span>
            <icon if.bind="iconName.length > 0" name.bind="iconName"></icon>
        </span>
        <input type="checkbox" class="dropdown-menu" />
        <div class="background"></div>
        <ul>
            <li><icon name="printer"></icon><span>Print</span></li>
            <li><icon name="sorting"></icon><span>Sorting</span></li>
            <li><icon name="sort"></icon><span>Sort</span></li>
        </ul>
    </label>
</template>